/* 
.img-fluid{
    
    position: absolute;
    left: 743.06px;
    right: -142.45px;
    top: -180px;
    bottom: 2541.85px;

} */

.wrapper{
    position: relative;
    width: 1440px;
    height: 2898px;
    margin: auto;
  }

 .leaf{
    max-width: 80%;
    height: auto;
    position: relative; 
    left: 550.06px;
    right: -142.45px;
    top: -3000px;
    bottom: 2541.85px;

  }

  .leaf2{
    /* background-image: url("./plantdown.png"); */
    height: auto;
    max-width: 70%;
    border-radius: 0px;

    position: absolute;
    left: -250px;
    right: -26.7px;
    top: -2569.75px;
    bottom: 559.2px;


  }

.triup{
    box-sizing: border-box;
    height: auto;
    max-width: 80%;
    /* height: 869.0449844257943px;
    width: 919.3607269145014px; */
    border-radius: 0px;

    position: absolute;
    left: 548.09px;
    right: -953.54px;
    top: -2023.39px;
    bottom: 1144.03px;
  }

.tridown{
    box-sizing: border-box;
    height: auto;
    max-width: 80%;
    border-radius: 0px;

    position: absolute;
    left: -250.83px;
    right: -602.29px;
    top: -1500px;
    bottom: 498.42px;
    
}

